.eye1
{
	background-image:url(../images/eye1.png);
}
.eye2
{
	background-image:url(../images/eye2.png);
}
.eye3
{
	background-image:url(../images/eye3.png);
}
.eye4
{
	background-image:url(../images/eye4.png);
}
.eye5
{
	background-image:url(../images/eye5.png);
}
.eye6
{
	background-image:url(../images/eye6.png);
}
.eye7
{
	background-image:url(../images/eye7.png);
}
.eye8
{
	background-image:url(../images/eye8.png);
}





